apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: uec-dos-api-cs
  name: uec-dos-api-cs
  namespace: K8S_APP_NAMESPACE_TO_REPLACE
spec:
  progressDeadlineSeconds: 2147483647
  replicas: 1
  revisionHistoryLimit: 2147483647
  selector:
    matchLabels:
      app: uec-dos-api-cs
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: uec-dos-api-cs
    spec:
      serviceAccountName: uec-dos-api-cs-iam-sa
      containers:
        - env:
            - name: INSTANA_AGENT_HOST
              valueFrom:
                fieldRef:
                  fieldPath: status.hostIP
          envFrom:
            - configMapRef:
                name: uec-dos-api-cs-configmap
          image: DOCKER_REGISTRY_TO_REPLACE/api:API_VERSION_TO_REPLACE
          imagePullPolicy: Always
          name: uec-dos-api-cs
          ports:
            - containerPort: 8443
              protocol: TCP
          resources:
            limits:
              cpu: "1"
              memory: 2Gi
            requests:
              cpu: "0"
              memory: "0"
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext:
        runAsUser: 0
      terminationGracePeriodSeconds: 30
status: {}
