resources:
  - namespace.yaml
  - api/uec-dos-api-cs-deployment.yaml
  - api/uec-dos-api-cs-service.yaml
  - proxy/uec-dos-api-cs-proxy-deployment.yaml
  - proxy/uec-dos-api-cs-proxy-service.yaml
  - proxy/uec-dos-api-cs-proxy-ingress.yaml
  - network-policy/uec-dos-api-cs-default-deny-ingress.yaml
  - network-policy/uec-dos-api-cs-allow-external-ingress.yaml
  - network-policy/uec-dos-api-cs-proxy-allow-external-ingress.yaml

configMapGenerator:
  - name: uec-dos-api-cs-configmap
    literals:
      - PROFILE=PROFILE_TO_REPLACE
      - PIP_TARGET=/tmp/.packages
      - PYTHONPATH=/tmp/.packages
      - XDG_CACHE_HOME=/tmp/.cache
      - API_DB_PORT=API_DB_PORT_TO_REPLACE
      - API_DB_NAME=API_DB_NAME_TO_REPLACE
      - API_DB_USERNAME=API_DB_USERNAME_TO_REPLACE
      - API_DB_PASSWORD=API_DB_PASSWORD_TO_REPLACE
      - DB_DOS_PORT=DB_DOS_PORT_TO_REPLACE
      - DB_DOS_NAME=DB_DOS_NAME_TO_REPLACE
      - DB_DOS_USERNAME=DB_DOS_USERNAME_TO_REPLACE
      - DB_DOS_PASSWORD=DB_DOS_PASSWORD_TO_REPLACE
      - API_LOG_LEVEL=API_LOG_LEVEL_TO_REPLACE
      - APP_ADMIN_PASSWORD=APP_ADMIN_PASSWORD_TO_REPLACE
      - HTTP_PROTOCOL=HTTP_PROTOCOL_TO_REPLACE
      - REQUEST_ID_HEADER=REQUEST_ID_HEADER_TO_REPLACE
      - INSTANA_AGENT_PORT=42699
      - AUTOWRAPT_BOOTSTRAP=instana
  - name: uec-dos-api-cs-proxy-configmap
    literals:
      - PROFILE=PROFILE_TO_REPLACE
      - API_HOST=API_HOST_TO_REPLACE
      - API_ADMIN_ALLOWED_HOSTS=API_ADMIN_ALLOWED_HOSTS_TO_REPLACE
      - INSTANA_AGENT_PORT=42699
      - AUTOWRAPT_BOOTSTRAP=instana
